.img1{
    width: 800px;
    height: 500px;
    margin-left: 13%;
    margin-top: 12%;
  border: 2px solid rgb(19, 43, 43);;
    border-radius: 10px;
}

.prodhead{
color: rgb(19, 43, 43);
font-size: 105px;
margin-top: 10%;   


}
 .prodesc{
    font-size: 30px;
    
    
 }

 .prodesc span{
font-size: 35px;
font-weight: bold;
color: rgb(10, 58, 58);
 }  